<!DOCTYPE html>
<html>
	<head>
		<title>Chat Application</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script id="old-chat" type="text/x-handlebars-template">
            <div class="chat-message">
                {% raw -%}
                <b>{{ name }}</b> : {{ message }}  <span>{{ time }}</span>
                {%- endraw %}
            </div>

        </script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>


	</head>

	<body>
    <div class="container" style="padding-top: 20px;">
        <h2 class="text-center" id="username">Welcome {{ username }}</h2>
        <div class="row">
            <div class="col-lg-3 border border-light border-right-0 chat-users">
                <div class="row form-group ">
                    <div class="col-sm-12 ">
                        <p>All Active channels <span class="btn btn-info float-right" data-toggle="modal" data-target="#myModal" id="create-channel">+</span></p>
                        <div class="channel-list overflow-auto" id="new-channel">

                        {% for channel in channels %}
                            <div class="list-group list-group-flush channelall" data-name="{{ channel }}">{{ channel }}</div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 chat" >
               <div class="row form-group message">
                    <div class="col-sm-12">
                        <h5 class="text-center border-bottom" id="messages-c">Please select an Channel first.</h5>
                        <div id="user_messages" class="overflow-auto" style="height: 600px;">

                        </div>
                    </div>
                </div>
                 <div class="row form-group border-top sender">
                     <div class="col-lg-11">
                            <input type="text" name="message" class="form-control" placeholder="Enter Message Here!" id="message">
                     </div>
                     <div class="col-lg-1">
                            <button id="send-message" class="btn btn-success float-right" disabled>Send</button>
                     </div>
                   </div>
            </div>
        </div>

        <div class="modal" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Add Channel</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <input type="text" id="channel-name" placeholder="Add Channel Name!" class="form-control">
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="add-channel">Add Channel</button>

                </div>
              </div>
            </div>
        </div>
    </div>
	</body>
</html>